Clase_23_Feb/xml-resources/jaxb/Clientes/clientes.xsd.xml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="clientes" type="clientes"/>

  <xs:complexType name="clientes">
    <xs:sequence>
      <xs:element name="listaClientes" type="cliente" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string" minOccurs="0"/>     
      <xs:element name="id" type="xs:int"/>
      <xs:element name="saldo" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>